/* General style features*/
* {
    font-size: 20px;
    font-family: 'Faculty Glyphic';
    box-sizing: border-box;
}

:root {
    background-color: rgb(136, 159, 145);
    color: white;
    letter-spacing: 5px;
}

html {
    scroll-behavior: smooth;
}

body {
    display: block;                
    justify-content: center;      
    align-items: center;          
    min-height: 100vh;  
    max-width: 1200px;
    margin: auto auto;
} 

/* Header */ 
header {
    position: sticky;
    top: 0px;
    width: 100%;
    padding: 1em 1em;
    margin: 1em 1em;
    background-color: darkblue;
    opacity: 0.5;
}

nav {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

nav h1 {
    font-size: 2em;
    margin: auto 2em;
}

nav ul {
    align-items: center;
    display: flex;
    margin-left: auto;
    list-style-type: none;
}

nav ul li {
    margin: auto 1em;
}

nav ul li a {
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

nav ul li a:hover {
    color: blue;
    background-color: white;
    opacity: 0.6;
    transition: 0.5s;
    opacity: 1;
}

/* Main */
.home {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1em;
}

#profile-picture-container{
    flex: 30%;
}

#profile-picture {
    width: 90%;
    border-radius: 50%;
}

#text-container {
    flex: 60%;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1em;
}

/* Feature Links */
#arrow-section {
    display: flex;
    justify-content: space-around;
}

.container {
    display: flex;
    align-items: center;
    width: 35%;
    padding: 2em 1em;
}

.container .spinning-arrow {
    width: 15%;
    margin: auto 1em;
}

.container a {
    text-decoration: none;
    color: inherit;
}

.container a:hover {
    background: linear-gradient(to right, white, red, orange, yellow, green, blue, indigo, violet, white);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation_for_links 2s;
    background-size: 400% 100%;
}

@keyframes rainbow_animation_for_links {
    0%, 100% {
        background-position: 0 0;
    }
    50% {
        background-position: 50% 0;
    }
}

.container img {
    transition: 0.5s;
}

.container img:hover {
    transform: rotate(90deg);
    transition: 0.5s;
    transform: rotate(180deg);
    transition: 0.5s;
    transform: rotate(270deg);
    transition: 0.5s;
    transform: rotate(360deg);
    transition: 0.5s;
}

.container h4 {
    margin: auto 1em; 
}

/* Color change section*/

.color-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15em;
    background: linear-gradient(to left, var(--startColor), var(--endColor));
    animation: gradient 5s ease-in-out infinite;
    justify-content: center;
    align-items: center;
}

.color-container h4 {
    font-size: 2em;
    font-weight: 900;
    text-transform: uppercase;
    background: linear-gradient(to left, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 1s ease-in-out infinite alternate-reverse;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%, 100% {
        background-position: 0 0;
    }
    50% {
        background-position: 50% 0;
    }
}

@keyframes gradient {
    0%, 100% {
        --startColor: red;
        --endColor: orange;        
    }
    17% {
        --startColor: orange;
        --endColor: yellow;
    }
    34% {
        --startColor: yellow;
        --endColor: green;
    }
    51% {
        --startColor: green;
        --endColor: blue;
    }
    68% {
        --startColor: blue;
        --endColor: indigo;
    }
    85% {
        --startColor: indigo;
        --endColor: violet;
    }
}

@property --startColor {
    syntax: "<color>";
    initial-value: red;
    inherits: false;
}

@property --endColor {
    syntax: "<color>";
    initial-value: orange;
    inherits: false;
}


/* Button Practice Section*/
#click-me-button {
    border-radius: 15px;
    background-color: violet;
    width: 8rem;
    height: 3rem;
    border: none;
    background: linear-gradient(violet, rgb(238, 187, 238));
    color: white;
    font-weight: bold;
    letter-spacing: 0.25em;
    box-shadow: 2px 4px rgb(52, 51, 51);
}

#click-me-button:hover {
    cursor: pointer;
    color: red;
    box-shadow: 2px 4px rgb(52, 51, 51);
}

#click-me-button:active {
    margin-left: 3px;
    margin-top: 5px;
    box-shadow: none;
}

.hidden-text-container p {
    display: none;
}

